#root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}

ul {
    display: flex;
    padding: 0;
    flex-direction: column;
}

li {
    list-style-type: none;
    width: fit-content;
}

img {
    width: 100%;
}

.puppy-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 5%;
}

.puppy {
    margin-bottom: 5%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
